<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% include 'menu.html' %}
    <h1>Bienvenido a la seccion de articulos</h1>

    <h3>Usuario: {{ usuario }}</h3>
    <h3>Ocupación: {{ ocupacion }}</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi at commodi consequuntur,
    cum dignissimos distinctio dolorem doloribus ea expedita hic illo in inventore minima
    nesciunt nostrum sit vero, voluptatibus!</p>
</body>
</html>